body {  
    font-family: Arial, sans-serif;  
    margin: 0;  
    padding: 0;  
    background-color: #f4f4f4;  
}  

header {  
    background-color: #3f51b5;  
    color: white;  
    padding: 15px 0;  
    text-align: center;  
}  

.header-container {  
    display: flex;  
    align-items: center;  
    justify-content: center;  
}  

.profile-pic {    
    width: 120px;  
    height: 120px;  
    margin-right: 100px; 
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    
}  

.hamburger, .close {  
    display: none; /* Hide the hamburger and close buttons initially */  
    cursor: pointer;  
} 

nav ul {  
    list-style: none;  
    display: flex;  
    justify-content: space-evenly;  
    padding: 5px;  
    margin: 0;  
    width: calc(100% - 10px); /* Adjust width to account for padding */
    background-color: black;
    margin-bottom: 10px;  
}  

nav ul li:hover {  
    background-color: #030b38;  
    color: white;
}  

nav ul li { 
    font-size: 1.5rem; 
    flex: 1;  
    text-align: center;  
    margin: 0;  
}  

nav ul li a {  
    color: white;  
    text-decoration: none;  
}  

.content {  
    display: flex;  
    justify-content: space-between;  
    padding: 20px;  
}  

.course-work{
    background-color: white;  
    padding: 20px;  
    border-radius: 8px;  
    width: 45%;  
    
}  
.toloria {  
    background-color: white;  
    padding: 20px;  
    border-radius: 8px;  
    width: 45%;  
    margin: 0 auto; /* Center align */
    text-align: center; /* Center text */
    display: flex;
    flex-direction: column;
    align-items: center;
}  

.course-work h2,  
.toloria h2 {  
    margin-top: 0; 
    font-size: 1.5rem; 
}  

.city {
    background-color: #3f51b5;
    width: 100%;
    color: white;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
}

.falls img {
    width: 400px;
    height: 400px;
}
.certificate {  
    background-color: #3f51b5;  
    color: white;  
    padding: 20px;  
    text-align: center;  
    margin-top: 20px;  
}  

.buttons, .courses {  
    margin: 10px 0;  
}  

button {  
    background-color: brown;  
    color: white;  
    border: none;  
    padding: 10px;  
    margin: 5px;  
    cursor: pointer;  
}  

footer {  
    text-align: center;  
    padding: 10px;  
    margin-top: 20px;  
    background-color: #3f51b5;  
    color: white;  
}

@media (max-width: 600px) {  
    nav {  
        display: none; /* Hide the nav initially */  
        width: 100%;  
        background-color: #3f51b5;  
    }  

    nav.active {  
        display: block; /* Show the nav when active */  
    }  

    .hamburger {  
        display: block; /* Show hamburger menu */  
    }  

    .close {  
        display: none; /* Hide close button */  
    }

    nav ul {  
        display: flex;  
        flex-direction: column;  
        padding: 0;  
    }

    nav.active + .close {  
        display: block; /* Show the close button when nav is active */  
    }  

    nav ul li {  
        margin: 10px 0;  
    }  

    button {  
        width: 100%; /* Full width buttons on smaller screens */  
    }  
}  
